/* style.css */

/* 전체 페이지 기본 스타일 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-container label {
    margin-right: 10px;
    font-weight: bold;
}

.filter-container select, .filter-container input {
    margin-right: 20px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#statsTable {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#statsTable th, #statsTable td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

#statsTable th {
    background-color: #f4f4f4;
    cursor: pointer;
}

#statsTable th.sorted-asc::after {
    content: '▲';
    margin-left: 5px;
}

#statsTable th.sorted-desc::after {
    content: '▼';
    margin-left: 5px;
}

/* 모바일 화면을 위한 반응형 디자인 */
@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-container label, .filter-container select, .filter-container input {
        margin-bottom: 10px;
        margin-right: 0;
    }
}
